@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 8, 26, 83; /* navy for text */
  --background-gradient: linear-gradient(180deg, #AED2E0 0%, #89D2C7 100%);
}

body {
  color: #081a53;
  font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #081a53;
  font-weight: 700;
}

